<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="item in obj">{{item.message}}</li>
    </ul>
    <br>
    <table>
        <tr v-for="(item,key,index) in ary" :key="item.key">
            <td>{{key}}:{{item.name}}</td>
            <td>{{key}}:{{item.age}}</td>
            <td>{{key}}:{{item.color}}</td>
        </tr>
    </table>
    <ul>
        <li v-for="(value,key) in object">
            key:{{key}};
            <br>
            value:{{value}}
        </li>
    </ul>
    <br>
    <ul>
        <li v-for="item in realAry">
            {{item}}
        </li>
    </ul>
    <button @click="handleClick">push and pop</button>
    <button @click="handleUpdate">handleUpdate</button>
</div>
</body>
</html>
<script src="vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data(){
            return {
                realAry:[
                    1,2,3,4
                ],
                obj:[
                    {message:'xxx'},
                    {message:'ccc'},
                    {message:'dddd'},
                ],
                // 这是一个数组里面是对象
                ary: [
                    {name: 'xxx', age: 99, color: 'red'},
                    {name: 'yy', age: 900, color: 'rcccc'}
                ],
                // 假如是一个对象呢
                object:{
                    name:'xxx',
                    age:'cc',
                    hobby:'love'
                }
            }
        },
        methods:{
            handleClick(){
                // 会自动更新 数组的一些方法
                this.obj.push({message:'ccccc'})
            },
            handleUpdate(){
                console.log('handleUpdate')
//                this.realAry.splice(1,1,100)
//                //不是引用数据类型所以是不可以的
//                this.realAry[2]=99999
                // 这个是看可以的
                this.$set(this.realAry,2,100000000)
            }
        }
    })
</script>